* {
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
}

.layout {
    width: 703px;
    margin: 0 auto;
}

.prod-panel {
    margin-left: -20px;
    margin-bottom: 20px;
}

.prod-box {
    position: relative;
    width: 220px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #D2D5D6;
    float: left;
    padding: 10px 20px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;    
}

.btn {
    display: inline-block;
    border: 1px solid ;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    color: #c81623;
    background-color: #FFF;
}

.prod-box img {
    width: 100%;
}

.prod-box .prod-name {
    font-size: 13px;
    color: #666;
}
.prod-box .prod-price {
    margin-top: 15px;
    font-size:13px;
    color: #c81623;
}
.prod-box .del-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.prod-box .del-btn.active {
    display: inline-block;
}