<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表渲染</title>
  <script src="http://unpkg.com/vue"></script>
</head>
<body>
  <ul id='example-1'>
    <li v-for="(item,index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message}}
    </li>
    <li>{{ parentMessage }}</li>
    <ol>
      <li v-for="(val, key, index) in object">
        {{ val }}
      </li>
    </ol>
  </ul>
  <script>
    var example1 = new Vue({
      el: '#example-1',
      data: {
        parentMessage: 'Parent',
        items: [
          { message: 'Foo'},
          { message: 'Bar'}
        ],
        object: {
          firstName: 'John',
          lastName: 'Doe',
          age: 30
        }
      }
    })
  </script>
</body>
</html>