h1 {
    color: #323232;
}

#say-1{
    color: #666;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.you-say {
    color: red;

}

.first,.p1 {
    font-weight: bold;
}

a:hover {
    color: #8559A5;
}

li:first-child {
    color: #F27370;
}

li::after {
    content: "🎉";
}

.done:before {
    content: "✔️";
}